openapi: 3.0.1
info:
  description: Your custom SDK
  title: dev
  version: "dev: v9 SDK"
servers:
- url: https://gateway.snapser.com/c4n1awfs
tags:
- name: InventoryService
- name: LeaderboardsService
- name: QuestsService
- name: AuthService
- description: Service info and health
  name: Service
- description: Match lifecycle and state history
  name: Match
- description: Socket.IO transport for live validation
  name: Realtime
- description: MCP inspection/debugging interface
  name: Debug
paths:
  /:
    get:
      description: Returns a human-readable summary of the service and its primary
        endpoints.
      operationId: byosnap-validator.getServiceInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceInfo"
          description: Service information
      summary: Service info
      tags:
      - Service
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /api/match/init:
    post:
      description: "Registers a new match with its starting synchronized state and\
        \ returns a short-lived connection token used to open the Socket.IO connection.\
        \ Unless DEV_MODE is enabled, the request `signature` is verified against\
        \ the shared secret."
      operationId: byosnap-validator.initMatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatorInitRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorInitResponse"
          description: Match initialized
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Missing required fields
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Invalid signature
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error
      summary: Initialize a match
      tags:
      - Match
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /api/match/init-from-history:
    post:
      description: Creates a replay match from a previously saved state history. Provide
        either `history_file_id` (looked up in the history store or fixtures) or inline
        `history_data`. Optionally start from a specific `start_from_index`.
      operationId: byosnap-validator.initMatchFromHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatorInitFromHistoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatorInitResponse"
          description: Match initialized from history
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: "Validation error (missing player_id, no history source, empty/invalid\
            \ history, or no state at start index)"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: History not found in store or filesystem
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error
      summary: Initialize a match from a saved state history
      tags:
      - Match
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /api/status:
    get:
      description: "Reports server name, version, process uptime, and current Socket.IO\
        \ connection count."
      operationId: byosnap-validator.getStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
          description: Runtime status
      summary: Runtime status
      tags:
      - Service
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /health:
    get:
      description: Liveness/readiness probe. Always returns 200 with a timestamp when
        the process is up. Used as the BYOSnap readiness probe path.
      operationId: byosnap-validator.getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
          description: Service is healthy
      summary: Health check
      tags:
      - Service
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /socket.io/:
    get:
      description: "Engine.IO/Socket.IO transport endpoint. Clients first GET to obtain\
        \ a session id, then upgrade to WebSocket. The handshake `auth` payload must\
        \ include `connection_id` (from /api/match/init) and `player_id`. After connection\
        \ the server emits `ready`; clients emit `validate_action` ({ index, action,\
        \ state_hash }) and receive a signed match/mismatch response. This endpoint\
        \ is a real-time transport and is only partially describable in OpenAPI."
      operationId: byosnap-validator.socketIoTransportGet
      parameters:
      - description: Engine.IO protocol version
        explode: true
        in: query
        name: EIO
        required: false
        schema:
          type: string
        style: form
      - description: Transport type (polling or websocket)
        explode: true
        in: query
        name: transport
        required: false
        schema:
          enum:
          - polling
          - websocket
          type: string
        style: form
      - description: Engine.IO session id (after handshake)
        explode: true
        in: query
        name: sid
        required: false
        schema:
          type: string
        style: form
      responses:
        "101":
          description: Switching Protocols (WebSocket upgrade)
        "200":
          description: Engine.IO transport response (handshake or polling payload)
      summary: Socket.IO transport (handshake / poll / WebSocket upgrade)
      tags:
      - Realtime
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
    post:
      description: Engine.IO polling-transport write channel. Used by the long-polling
        fallback to send client packets.
      operationId: byosnap-validator.socketIoTransportPost
      parameters:
      - explode: true
        in: query
        name: EIO
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: transport
        required: false
        schema:
          enum:
          - polling
          - websocket
          type: string
        style: form
      - explode: true
        in: query
        name: sid
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: false
      responses:
        "200":
          description: Acknowledged
      summary: Socket.IO transport (polling write)
      tags:
      - Realtime
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/app-verify/{type}:
    get:
      description: Verifies the session token and returns appropriate response based
        on the type
      operationId: auth.AppVerify
      parameters:
      - description: Type of app trying to verify the session token. Only acceptable
          value is 'photon'
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Session token of the user
        explode: true
        in: query
        name: session_token
        required: false
        schema:
          type: string
        style: form
      - description: Shared secret used to verify the request
        explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiHttpBody"
          description: A successful response.
      summary: Token
      tags:
      - AuthService
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/associate-logins:
    put:
      description: Associates two logins based on their session tokens
      operationId: auth.AssociateLogins
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authAssociateLoginsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Associate Multiple Logins
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/discord/login:
    put:
      description: Logs in the user based on the discord token specified and returns
        a session
      operationId: auth.DiscordLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authDiscordLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authDiscordLoginResponse"
          description: A successful response.
      summary: Discord Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/email-password/account-recovery:
    post:
      description: Sends an email to the user for account recovery
      operationId: auth.RecoverEmailAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authRecoverEmailAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Email Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/email-password/login:
    put:
      description: Logs in the user based on the email and password specified and
        returns a session
      operationId: auth.EmailPasswordLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authEmailPasswordLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authEmailPasswordLoginResponse"
          description: A successful response.
      summary: Email Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/email-password/password:
    put:
      description: Updates the email and password of the user
      operationId: auth.UpdateEmailPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authUpdateEmailPasswordRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Email Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/email-password/verification:
    post:
      description: Verifies the email and returns a session
      operationId: auth.VerifyEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authVerifyEmailRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authVerifyEmailResponse"
          description: A successful response.
      summary: Email Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/anon:
    put:
      description: Logs in the user with an arbitrary identifier specified and returns
        a session
      operationId: auth.AnonLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authAnonLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authAnonLoginResponse"
          description: A successful response.
      summary: Anonymous Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/apple:
    put:
      description: Logs in the user based on the apple credential token specified
        and returns a session
      operationId: auth.AppleLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authAppleLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authAppleLoginResponse"
          description: A successful response.
      summary: Apple Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/email:
    put:
      description: Logs in the user based on the email and OTP specified and returns
        a session
      operationId: auth.EmailLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authEmailLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authEmailLoginResponse"
          description: A successful response.
      summary: Email Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/epic:
    put:
      description: Logs in the user based on the epic credentials specified and returns
        a session
      operationId: auth.EpicLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authEpicLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authEpicLoginResponse"
          description: A successful response.
      summary: Epic Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/facebook:
    put:
      description: Logs in the user based on the facebook credential token specified
        and returns a session
      operationId: auth.FacebookLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authFacebookLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authFacebookLoginResponse"
          description: A successful response.
      summary: Facebook Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/google:
    put:
      description: Logs in the user based on the google credential token specified
        and returns a session
      operationId: auth.GoogleLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authGoogleLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authGoogleLoginResponse"
          description: A successful response.
      summary: Google Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/steam:
    put:
      deprecated: true
      description: Logs in the user based on the steam token specified and returns
        a session
      operationId: auth.SteamLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authSteamLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authSteamLoginResponse"
          description: A successful response.
      summary: Steam Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/login/xbox:
    put:
      description: Logs in the user based on the xbox token specified and returns
        a session
      operationId: auth.XboxLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authXboxLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authXboxLoginResponse"
          description: A successful response.
      summary: Xbox Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/logout/{token}:
    delete:
      description: Ends the current session of the user
      operationId: auth.Logout
      parameters:
      - description: Session token to logout
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Logout User
      tags:
      - AuthService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/otp:
    post:
      description: Generates an OTP and sends it to the email for logging in
      operationId: auth.Otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authOtpRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Email Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/refresh:
    patch:
      description: Refreshes the session and returns a new session token with refreshed
        validity
      operationId: auth.Refresh
      parameters:
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authRefreshRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authRefreshResponse"
          description: A successful response.
      summary: Token
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/steam/openid/login:
    put:
      description: Logs in the user based on the steam open ID token specified and
        returns a session
      operationId: auth.SteamOpenIdLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authSteamOpenIdLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authSteamLoginResponse"
          description: A successful response.
      summary: Steam Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/steam/session-ticket/login:
    put:
      description: Logs in the user based on the steam session ticket specified and
        returns a session
      operationId: auth.SteamSessionTicketLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authSteamSessionTicketLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authSteamLoginResponse"
          description: A successful response.
      summary: Steam Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/username-password/availability:
    get:
      description: Checks if the username is available
      operationId: auth.GetUsernameAvailability
      parameters:
      - description: Username to check
        explode: true
        in: query
        name: username
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authGetUsernameAvailabilityResponse"
          description: A successful response.
      summary: Username Password Login
      tags:
      - AuthService
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/username-password/login:
    put:
      description: Logs in the user based on the username and password specified and
        returns a session
      operationId: auth.UsernamePasswordLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authUsernamePasswordLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authUsernamePasswordLoginResponse"
          description: A successful response.
      summary: Username Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/username-password/password:
    put:
      description: Updates the username and password of the user
      operationId: auth.UpdateUsernamePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authUpdateUsernamePasswordRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Username Password Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/users/{user_id}/disassociation:
    post:
      description: Disassociates the specified login from a user
      operationId: auth.DisassociateLogin
      parameters:
      - description: UserID of the user to be unbanned
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisassociateLogin_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Disassociate
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/validate:
    post:
      description: Validates the session of the user and returns the user info
      operationId: auth.Validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authValidateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authValidateResponse"
          description: A successful response.
      summary: Token
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/auth/x/login:
    put:
      description: Logs in the user based on the X login credentials specified and
        returns a session
      operationId: auth.XLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authXLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authXLoginResponse"
          description: A successful response.
      summary: X Login
      tags:
      - AuthService
      x-codegen-request-body-name: body
      x-snapser-auth-passthrough: true
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/containers/{container_name}:
    get:
      description: Gets the contents of a container item from the catalog
      operationId: inventory.GetContainer
      parameters:
      - description: Name of the container
        explode: false
        in: path
        name: container_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetContainerResponse"
          description: A successful response.
      summary: Containers
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/currency-conversions:
    get:
      description: Get currency conversions
      operationId: inventory.GetCurrencyConversions
      parameters:
      - description: Name of the currency to convert from
        explode: true
        in: query
        name: from_currency
        required: false
        schema:
          type: string
        style: form
      - description: Name of the currency to convert to
        explode: true
        in: query
        name: to_currency
        required: false
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetCurrencyConversionsResponse"
          description: A successful response.
      summary: Currency Conversions
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/drop-tables/{drop_table_name}:
    get:
      description: Get a drop table
      operationId: inventory.GetDropTableContents
      parameters:
      - description: Name of drop table
        explode: false
        in: path
        name: drop_table_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryDropTable"
          description: A successful response.
      summary: Drop Tables
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/drop-tables/{drop_table_name}/evaluate:
    get:
      description: Evaluate a drop table for a user and store the escrow ID
      operationId: inventory.EvaluateDropTable
      parameters:
      - description: Name of the drop table
        explode: false
        in: path
        name: drop_table_name
        required: true
        schema:
          type: string
        style: simple
      - description: Id of affected user
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryEvaluateDropTableResponse"
          description: A successful response.
      summary: Drop Tables
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/drop-tables/{drop_table_name}/grant:
    post:
      description: Grant items from a drop table based on a new evaluation or existing
        escrow ID
      operationId: inventory.GrantDropTable
      parameters:
      - description: Name of the drop table
        explode: false
        in: path
        name: drop_table_name
        required: true
        schema:
          type: string
        style: simple
      - description: Id of affected user
        explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - description: "Escrow id for the result, if it was evaluated already"
        explode: true
        in: query
        name: escrow_id
        required: false
        schema:
          type: string
        style: form
      - description: Id of the sub-inventory instance to grant into
        explode: true
        in: query
        name: sub_inventory_instance_id
        required: false
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGrantDropTableResponse"
          description: A successful response.
      summary: Drop Tables
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/items:
    get:
      description: Gets the items from catalog in a paginated manner. Default page
        size is 1000.
      operationId: inventory.GetItems
      parameters:
      - description: "limit, max number of items in the response, defaults to 10"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "offset, defaults to 0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "filter items by tags, comma separated strings of tags. Items\
          \ matching all the tags will be returned"
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: filter items by class_name
        explode: true
        in: query
        name: class_name
        required: false
        schema:
          type: string
        style: form
      - description: filter items by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "filter items by names, comma separated strings of names. Items\
          \ matching any of the names will be returned"
        explode: true
        in: query
        name: names
        required: false
        schema:
          type: string
        style: form
      - description: "filter items by type (can be container, non-container, sub-inventory,\
          \ non-sub-inventory)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetItemsResponse"
          description: A successful response.
      summary: Items
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/containers/{container_name}/grant-and-open:
    post:
      description: Grants and opens a container item from user inventory given an
        item name
      operationId: inventory.GrantAndOpenContainer
      parameters:
      - description: Id of user receiving the assets
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the container to grant and open
        explode: false
        in: path
        name: container_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrantAndOpenContainer_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGrantAndOpenContainerResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/currencies:
    get:
      description: Get user currencies
      operationId: inventory.GetUserCurrencies
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetUserCurrenciesResponse"
          description: A successful response.
      summary: User Currency
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/currencies/{currency_name}:
    put:
      description: Increment or decrement virtual currency of a user
      operationId: inventory.IncrementUserCurrency
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of currency to be granted/consumed
        explode: false
        in: path
        name: currency_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncrementUserCurrency_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryIncrementUserCurrencyResponse"
          description: A successful response.
      summary: User Currency
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/currencies/{currency_name}/stats:
    get:
      description: Get user currency stats
      operationId: inventory.GetUserCurrencyStats
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of currency to get stats for
        explode: false
        in: path
        name: currency_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetUserCurrencyStatsResponse"
          description: A successful response.
      summary: User Currency
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/currency-conversion:
    post:
      description: Convert user currency from one to another
      operationId: inventory.ConvertUserCurrency
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConvertUserCurrency_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryConvertUserCurrencyResponse"
          description: A successful response.
      summary: User Currency
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/items-grant:
    post:
      description: "Grants the list of items to user, this does not modify currencies"
      operationId: inventory.GrantItemsToUser
      parameters:
      - description: Id of user receiving the assets
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrantItemsToUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryUserInventory"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/items-purchase:
    post:
      description: "Purchase an item with given virtual currency (Deprecated: Use\
        \ Purchase Item)"
      operationId: inventory.PurchaseItemWithVirtualCurrency
      parameters:
      - description: Id of user receiving the assets
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseItemWithVirtualCurrency_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryUserInventoryItem"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/purchase:
    post:
      description: "Purchase an item with given virtual currency, returning both the\
        \ purchased item and updated currency balances"
      operationId: inventory.PurchaseItem
      parameters:
      - description: Id of user receiving the assets
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseItemWithVirtualCurrency_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryPurchaseItemResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/sub-inventory/move-items:
    post:
      description: Move item into sub-inventory
      operationId: inventory.MoveItemsToSubInventory
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveItemsToSubInventory_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryMoveItemsToSubInventoryResponse"
          description: A successful response.
      summary: Move item into sub-inventory
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-containers/{container_instance_id}/open:
    post:
      description: Open a container item from user inventory given an instance id
      operationId: inventory.OpenContainer
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the container present in user inventory
        explode: false
        in: path
        name: container_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenContainer_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryOpenContainerResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-containers/{container_instance_id}/unlock:
    post:
      description: Unlocks a container item from user inventory given an instance
        id and returns items to be granted without granting them
      operationId: inventory.UnlockContainer
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the container present in user inventory
        explode: false
        in: path
        name: container_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnlockContainer_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryUnlockContainerResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-items:
    get:
      description: Gets the user items in a paginated manner. Default page size is
        1000.
      operationId: inventory.GetAllUserItems
      parameters:
      - description: userid to assign the items
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: "limit, max number of items in the response, defaults to 1000"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "offset, defaults to zero"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "filter items by catalog_item_name (DEPRECATED: use names field)"
        explode: true
        in: query
        name: item_name
        required: false
        schema:
          type: string
        style: form
      - description: "filter items by tags, comma separated strings of tags. Items\
          \ matching all the tags will be returned"
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: filter items by class_name
        explode: true
        in: query
        name: class_name
        required: false
        schema:
          type: string
        style: form
      - description: "filter items by names, comma separated strings of names. Items\
          \ matching any of the names will be returned"
        explode: true
        in: query
        name: names
        required: false
        schema:
          type: string
        style: form
      - description: "filter items by type (can be container, non-container)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryGetUserItemsResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-items-consumption/{item_instance_id}:
    post:
      description: Consumes item from user inventory by a count given an instance
        id
      operationId: inventory.ConsumeItem
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the item present in user inventory
        explode: false
        in: path
        name: item_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsumeItem_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryConsumeItemResponse"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-items/{item_instance_id}:
    delete:
      description: Deletes item from user inventory given instance id
      operationId: inventory.DeleteUserItem
      parameters:
      - description: Id of user from which item would be removed
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the item present in user inventory
        explode: false
        in: path
        name: item_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
    get:
      description: Gets item from inventory given instance id
      operationId: inventory.GetUserItem
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the item present in user inventory
        explode: false
        in: path
        name: item_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryUserInventoryItem"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/inventory/users/{user_id}/user-items/{item_instance_id}/metadata:
    patch:
      description: Update the metadata of the user inventory item. Not to be confused
        with catalog item metadata
      operationId: inventory.UpdateUserItemMetadata
      parameters:
      - description: Id of affected user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the item present in user inventory
        explode: false
        in: path
        name: item_instance_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserItemMetadata_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inventoryUserInventoryItem"
          description: A successful response.
      summary: User Items
      tags:
      - InventoryService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/leaderboards/leaderboards/{leaderboard_name}:
    get:
      description: Gets the standings within a leaderboard
      operationId: leaderboards.GetScores
      parameters:
      - description: Name of the leaderboard
        explode: false
        in: path
        name: leaderboard_name
        required: true
        schema:
          type: string
        style: simple
      - description: Optional user ID for the user who's standing is requested
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - description: "Range of the leaderboard requested: 'top', 'bottom' or 'around'\
          \ the user specified"
        explode: true
        in: query
        name: range
        required: true
        schema:
          type: string
        style: form
      - description: Number of rankings to be displayed
        explode: true
        in: query
        name: count
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: "For recurring leaderboards, the offset from the latest occurrence\
          \ of the leaderboard"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether the user metadata should be included with the request
        explode: true
        in: query
        name: with_metadata
        required: false
        schema:
          type: boolean
        style: form
      - description: Name of the tier to get the top scores from. Only applicable
          for tiered leaderboards
        explode: true
        in: query
        name: tier_name
        required: false
        schema:
          type: string
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/leaderboardsGetScoresResponse"
          description: A successful response.
      summary: Standings
      tags:
      - LeaderboardsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/leaderboards/leaderboards/{leaderboard_name}/users/{user_id}/score:
    patch:
      description: Increments the leaderboard score for the user
      operationId: leaderboards.IncrementScore
      parameters:
      - description: Name of the leaderboard
        explode: false
        in: path
        name: leaderboard_name
        required: true
        schema:
          type: string
        style: simple
      - description: User ID for the user who's score is being updated
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncrementScore_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/leaderboardsIncrementScoreResponse"
          description: A successful response.
      summary: Score
      tags:
      - LeaderboardsService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
    put:
      description: Updates the leaderboard score for the user (only non 'counter'
        leaderboards)
      operationId: leaderboards.SetScore
      parameters:
      - description: Name of the leaderboard
        explode: false
        in: path
        name: leaderboard_name
        required: true
        schema:
          type: string
        style: simple
      - description: User ID for the user who's score is being updated
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetScore_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/leaderboardsSetScoreResponse"
          description: A successful response.
      summary: Score
      tags:
      - LeaderboardsService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/active_quests:
    get:
      description: Get active quests for user
      operationId: quests.GetActiveQuests
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma separated tags to filter quests
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: "If true, include contents of containers, drop tables in the\
          \ rewards"
        explode: true
        in: query
        name: include_reward_contents
        required: false
        schema:
          type: boolean
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsUserQuests"
          description: A successful response.
      summary: Quests
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/available_quests:
    get:
      description: Get available quests for user
      operationId: quests.GetAvailableQuests
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma separated tags to filter quests
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: "If true, include contents of containers, drop tables in the\
          \ rewards"
        explode: true
        in: query
        name: include_reward_contents
        required: false
        schema:
          type: boolean
        style: form
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsGetAvailableQuestsResponse"
          description: A successful response.
      summary: Quests
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}:
    delete:
      description: Delete user quest
      operationId: quests.DeleteUserQuest
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest to delete
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
      summary: Quest
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}/assign:
    post:
      description: Assign a quest to a user
      operationId: quests.AssignQuest
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest to assign
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsUserQuest"
          description: A successful response.
      summary: Quest
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}/claim_rewards:
    post:
      description: Claim rewards for a quest
      operationId: quests.ClaimQuestRewards
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest to claim rewards for
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsClaimQuestRewardsResponse"
          description: A successful response.
      summary: Quest
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}/tasks/{task_name}:
    put:
      description: Increment or decrement progress for a quest assigned to a user
      operationId: quests.IncrementTaskProgress
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest to update task progress
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the task to update progress
        explode: false
        in: path
        name: task_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncrementTaskProgress_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsUserQuest"
          description: A successful response.
      summary: Quest Task
      tags:
      - QuestsService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}/tasks/{task_name}/claim_rewards:
    post:
      description: Claim rewards for a task
      operationId: quests.ClaimTaskRewards
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the task to claim rewards for
        explode: false
        in: path
        name: task_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsClaimTaskRewardsResponse"
          description: A successful response.
      summary: Quest Task
      tags:
      - QuestsService
      x-snapser-auth-types:
      - user
      - api-key
      - internal
  /v1/quests/users/{user_id}/quests/{quest_name}/tasks/{task_name}/metadata:
    put:
      description: Update metadata of a task for a quest assigned to a user
      operationId: quests.UpdateTaskMetadata
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the quest to update task progress
        explode: false
        in: path
        name: quest_name
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the task to update progress
        explode: false
        in: path
        name: task_name
        required: true
        schema:
          type: string
        style: simple
      - description: User session token
        explode: false
        in: header
        name: Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskMetadata_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/questsUserQuest"
          description: A successful response.
      summary: Quest Task
      tags:
      - QuestsService
      x-codegen-request-body-name: body
      x-snapser-auth-types:
      - user
      - api-key
      - internal
components:
  schemas:
    Board:
      additionalProperties: true
      description: Game board. Extra fields from the game logic package are allowed.
      example:
        tiles:
        - isEmpty: true
          value: 0
        - isEmpty: true
          value: 0
      properties:
        tiles:
          items:
            $ref: "#/components/schemas/Tile"
          type: array
      type: object
    ConsumeItem_request:
      properties:
        consume_count:
          description: Number of units to consume
          format: int32
          type: integer
      required:
      - consume_count
      type: object
    ConvertUserCurrency_request:
      properties:
        amount:
          description: "Amount to convert (DEPRECATED: use amount_64)"
          format: int32
          type: integer
        amount_64:
          description: Amount to convert
          format: int64
          type: string
        from_currency:
          description: Name of the currency to convert from
          type: string
        to_currency:
          description: Name of the currency to convert to
          type: string
      required:
      - from_currency
      - to_currency
      type: object
    DisassociateLogin_request:
      properties:
        login_type:
          $ref: "#/components/schemas/authLoginTypeType"
      required:
      - login_type
      type: object
    Error:
      description: Standard error envelope returned by HTTP endpoints.
      example:
        error: VALIDATION_ERROR
        message: message
      properties:
        error:
          description: Machine-readable error code
          example: VALIDATION_ERROR
          type: string
        message:
          description: Human-readable message
          type: string
      required:
      - error
      - message
      type: object
    GrantAndOpenContainer_request:
      properties:
        require_balance:
          description: "If true, the user must have the required balance to be granted\
            \ the container"
          type: boolean
        sub_inventory_instance_id:
          description: Id of the sub-inventory instance to grant into
          type: string
        unlock_cost:
          $ref: "#/components/schemas/inventoryUnlockKey"
      type: object
    GrantItemsToUser_request:
      properties:
        items:
          additionalProperties:
            format: int32
            type: integer
          description: Unique name and count of items to grant to user
          type: object
        metadata:
          description: "Custom metadata to be attached to user inventory items, not\
            \ to be confused with catalog item metadata"
          type: object
        sub_inventory_instance_id:
          description: Sub inventory instance the granted items should be added to
          type: string
        sub_inventory_item_name:
          description: Name of the sub inventory item to be added to the sub inventory
            instance (Ignored if sub_inventory_instance_id is not set)
          type: string
      required:
      - items
      type: object
    HealthResponse:
      example:
        status: ok
        timestamp: 0
      properties:
        status:
          example: ok
          type: string
        timestamp:
          description: Epoch milliseconds
          format: int64
          type: integer
      required:
      - status
      - timestamp
      type: object
    IncrementScore_request:
      properties:
        delta:
          description: The delta of the score to increment
          format: double
          type: number
        tier_name:
          description: Name of the tier
          type: string
        user_metadata:
          description: Metadata to be stored with the user
          type: object
      required:
      - delta
      type: object
    IncrementTaskProgress_request:
      properties:
        delta:
          description: "Progress to update (Deprecated: Use delta64)"
          format: int32
          type: integer
        delta64:
          description: Progress to update
          format: int64
          type: integer
      type: object
    IncrementUserCurrency_request:
      properties:
        delta:
          description: "Amount to grant/consume (DEPRECATED: use delta_64)"
          format: int32
          type: integer
        delta_64:
          description: Amount to grant/consume
          format: int64
          type: string
      type: object
    MoveItemsToSubInventory_request:
      properties:
        item_instance_ids:
          description: Ids of the items to move into the sub-inventory
          items:
            type: string
          type: array
        sub_inventory_instance_id:
          description: Id of the sub-inventory instance to move the item into
          type: string
      required:
      - item_instance_ids
      - sub_inventory_instance_id
      type: object
    OpenContainer_request:
      properties:
        escrow_id:
          description: "Escrow id for the result, if it was evaluated already"
          type: string
        sub_inventory_instance_id:
          description: Id of the sub-inventory instance to grant into
          type: string
        unlock_cost:
          $ref: "#/components/schemas/inventoryUnlockKey"
      type: object
    PurchaseItemWithVirtualCurrency_request:
      properties:
        catalog_item_name:
          description: Name of catalog item to purchase
          type: string
        currency_name:
          description: Name of virtual currency to purchase item with
          type: string
        sub_inventory_instance_id:
          description: Sub inventory instance the purchased items should be added
            to
          type: string
      type: object
    ServiceInfo:
      example:
        endpoints:
          health: /health
          matchInit: /api/match/init
          socketio: /socket.io/
          status: /api/status
        message: Moveborne Validator Service
      properties:
        endpoints:
          additionalProperties:
            type: string
          example:
            health: /health
            matchInit: /api/match/init
            socketio: /socket.io/
            status: /api/status
          type: object
        message:
          example: Moveborne Validator Service
          type: string
      type: object
    SetScore_request:
      properties:
        score:
          description: New score to be inserted
          format: double
          type: number
        tier_name:
          description: Name of the tier
          type: string
        user_metadata:
          description: Metadata to be stored with the user
          type: object
      required:
      - score
      type: object
    StateHistorySnapshot:
      example:
        moveIndex: 0
        state:
          score: 1
          randomSeeds:
            key: ""
          gameStatus: IN_PROGRESS
          moveIndex: 6
          board:
            tiles:
            - isEmpty: true
              value: 0
            - isEmpty: true
              value: 0
          rngIndices:
            key: ""
        timestamp: 6
      properties:
        moveIndex:
          type: integer
        state:
          $ref: "#/components/schemas/SynchronizedGameState"
        timestamp:
          description: Epoch milliseconds
          format: int64
          type: integer
      required:
      - moveIndex
      - state
      type: object
    StatusResponse:
      example:
        server: validator
        version: 0.1.0
        connections: 0
        uptime: 6.027456183070403
      properties:
        connections:
          description: Active Socket.IO client count
          type: integer
        server:
          example: validator
          type: string
        uptime:
          description: Process uptime in seconds
          format: double
          type: number
        version:
          example: 0.1.0
          type: string
      required:
      - connections
      - server
      - uptime
      - version
      type: object
    SynchronizedGameState:
      additionalProperties: true
      description: "Deterministic, hashable game state shared between client and validator.\
        \ Defined by @spyre-io/moveborne-logic; only the fields the validator reads\
        \ are described here and additional fields are allowed."
      example:
        score: 1
        randomSeeds:
          key: ""
        gameStatus: IN_PROGRESS
        moveIndex: 6
        board:
          tiles:
          - isEmpty: true
            value: 0
          - isEmpty: true
            value: 0
        rngIndices:
          key: ""
      properties:
        board:
          $ref: "#/components/schemas/Board"
        gameStatus:
          description: "e.g. IN_PROGRESS, GAME_OVER"
          example: IN_PROGRESS
          type: string
        moveIndex:
          description: Monotonic action index
          type: integer
        randomSeeds:
          additionalProperties: true
          description: Seeds for the deterministic RNG streams.
          type: object
        rngIndices:
          additionalProperties: true
          description: Per-stream RNG consumption indices.
          type: object
        score:
          type: integer
      required:
      - board
      - gameStatus
      - moveIndex
      - rngIndices
      type: object
    Tile:
      additionalProperties: true
      description: A single board cell. Shape is defined by the game logic package;
        extra fields are allowed.
      example:
        isEmpty: true
        value: 0
      properties:
        isEmpty:
          type: boolean
        value:
          type: integer
      type: object
    UnlockContainer_request:
      properties:
        unlock_cost:
          $ref: "#/components/schemas/inventoryUnlockKey"
      type: object
    UpdateTaskMetadata_request:
      properties:
        metadata:
          description: Metadata to attach to task
          type: object
      required:
      - metadata
      type: object
    UpdateUserItemMetadata_request:
      properties:
        metadata:
          description: Metadata to be attached to user inventory item. Not be confused
            with metadata with catalog item
          type: object
      type: object
    ValidatorInitFromHistoryRequest:
      description: Provide exactly one of history_file_id or history_data.
      example:
        history_data:
        - moveIndex: 0
          state:
            score: 1
            randomSeeds:
              key: ""
            gameStatus: IN_PROGRESS
            moveIndex: 6
            board:
              tiles:
              - isEmpty: true
                value: 0
              - isEmpty: true
                value: 0
            rngIndices:
              key: ""
          timestamp: 6
        - moveIndex: 0
          state:
            score: 1
            randomSeeds:
              key: ""
            gameStatus: IN_PROGRESS
            moveIndex: 6
            board:
              tiles:
              - isEmpty: true
                value: 0
              - isEmpty: true
                value: 0
            rngIndices:
              key: ""
          timestamp: 6
        player_id: player_id
        history_file_id: history_file_id
        start_from_index: 1
      properties:
        history_data:
          items:
            $ref: "#/components/schemas/StateHistorySnapshot"
          type: array
        history_file_id:
          description: Id of a stored/fixture history
          type: string
        player_id:
          type: string
        start_from_index:
          description: moveIndex to start from; defaults to the last state
          type: integer
      required:
      - player_id
      type: object
    ValidatorInitRequest:
      example:
        player_id: player_id
        signature: signature
        match_id: match_id
        starting_state:
          score: 1
          randomSeeds:
            key: ""
          gameStatus: IN_PROGRESS
          moveIndex: 6
          board:
            tiles:
            - isEmpty: true
              value: 0
            - isEmpty: true
              value: 0
          rngIndices:
            key: ""
      properties:
        match_id:
          type: string
        player_id:
          type: string
        signature:
          description: "HMAC signature over the request, verified unless DEV_MODE\
            \ is enabled"
          type: string
        starting_state:
          $ref: "#/components/schemas/SynchronizedGameState"
      required:
      - match_id
      - player_id
      - signature
      - starting_state
      type: object
    ValidatorInitResponse:
      example:
        expires_at: 0
        connection_id: connection_id
      properties:
        connection_id:
          description: Token used in the Socket.IO handshake auth
          type: string
        expires_at:
          description: "Token expiry, epoch milliseconds"
          format: int64
          type: integer
      required:
      - connection_id
      - expires_at
      type: object
    apiHttpBody:
      description: |-
        Message that represents an arbitrary HTTP body. It should only be used for
        payload formats that can't be represented as JSON, such as raw binary or
        an HTML page.


        This message can be used both in streaming and non-streaming API methods in
        the request as well as the response.

        It can be used as a top-level request field, which is convenient if one
        wants to extract parameters from either the URL or HTTP template into the
        request fields and also want access to the raw HTTP body.

        Example:

            message GetResourceRequest {
              // A unique request id.
              string request_id = 1;

              // The raw HTTP body is bound to this field.
              google.api.HttpBody http_body = 2;

            }

            service ResourceService {
              rpc GetResource(GetResourceRequest)
                returns (google.api.HttpBody);
              rpc UpdateResource(google.api.HttpBody)
                returns (google.protobuf.Empty);

            }

        Example with streaming methods:

            service CaldavService {
              rpc GetCalendar(stream google.api.HttpBody)
                returns (stream google.api.HttpBody);
              rpc UpdateCalendar(stream google.api.HttpBody)
                returns (stream google.api.HttpBody);

            }

        Use of this type only changes how the request and response bodies are
        handled, all other features will continue to work unchanged.
      example:
        extensions:
        - '@type': '@type'
        - '@type': '@type'
        content_type: content_type
        data: data
      properties:
        content_type:
          description: The HTTP Content-Type header value specifying the content type
            of the body.
          type: string
        data:
          description: The HTTP request/response body as raw binary.
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        extensions:
          description: |-
            Application specific response metadata. Must be set in the first response
            for streaming APIs.
          items:
            $ref: "#/components/schemas/protobufAny"
          type: array
      type: object
    authAnonLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        username:
          description: User's login ID
          type: string
      required:
      - username
      type: object
    authAnonLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authAppleLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        token:
          description: Apple token generated on the client
          type: string
      required:
      - token
      type: object
    authAppleLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authAssociateLoginsRequest:
      properties:
        discard_user_token:
          description: Token of the user to discard
          type: string
        keep_user_token:
          description: Token of the user to keep
          type: string
      required:
      - discard_user_token
      - keep_user_token
      type: object
    authDiscordLoginRequest:
      properties:
        access_token:
          description: Discord access token generated on the client. One of code or
            access_token is required
          type: string
        code:
          description: Discord code generated on the client. One of code or access_token
            is required
          type: string
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
      type: object
    authDiscordLoginResponse:
      example:
        access_token: access_token
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        access_token:
          type: string
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authEmailLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        email:
          description: Email address used as login
          type: string
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        otp:
          description: OTP code received by the user
          type: string
      required:
      - email
      - otp
      type: object
    authEmailLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authEmailPasswordLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        email:
          description: Email address used as login
          type: string
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        password:
          description: Password used for login
          type: string
      required:
      - email
      - password
      type: object
    authEmailPasswordLoginResponse:
      example:
        email_verification_required: true
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        email_verification_required:
          description: Whether email verification is required or not
          type: boolean
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authEpicLoginRequest:
      properties:
        code:
          description: code generated on the client
          type: string
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        exchange_code:
          description: exchange_code generated on the client
          type: string
        grant_type:
          description: token generated on the client
          type: string
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        password:
          description: exchange_code generated on the client
          type: string
        username:
          description: exchange_code generated on the client
          type: string
      required:
      - grant_type
      type: object
    authEpicLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authFacebookLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        token:
          description: Facebook token generated on the client
          type: string
      required:
      - token
      type: object
    authFacebookLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authGetUsernameAvailabilityResponse:
      example:
        available: true
      properties:
        available:
          description: Whether the username is available or not
          type: boolean
      type: object
    authGoogleLoginRequest:
      properties:
        create_user:
          description: "Whether to create a user, if it does not exist"
          type: boolean
        login_metadata:
          $ref: "#/components/schemas/authLoginMetadata"
        token:
          description: Google IDtoken generated on the client
          type: string
      required:
      - token
      type: object
    authGoogleLoginResponse:
      example:
        user:
          token_validity_seconds: 5
          created: true
          created_at: 0
          is_suspended: true
          is_verified: true
          first_login: 6
          tags:
          - tags
          - tags
          session_token: session_token
          refreshed_at: 1
          suspended_until: 5
          id: id
          is_banned: true
          logins:
          - id: id
            type: null
          - id: id
            type: null
          login_types:
          - UNSPECIFIED_LOGIN_TYPE
          - UNSPECIFIED_LOGIN_TYPE
      properties:
        user:
          $ref: "#/components/schemas/authUser"
      type: object
    authLoginId:
      example:
        id: id
        type: null
      properties:
        id:
[...]
