{
  "openapi": "3.0.3",
  "info": {
    "title": "Validator Service",
    "version": "0.1.0",
    "description": "Real-time game-action validation service (BYOSnap). Provides HTTP endpoints for match lifecycle plus a Socket.IO transport for live action validation and an MCP debugging endpoint.\n\nAuthentication: the Snapser gateway enforces a user session token on every operation unless the operation declares `security: []` (public). Public operations: service info, health, status, match init, init-from-history, and the Socket.IO transport. The validator additionally performs its own signature/connection checks (see DEV_MODE)."
  },
  "servers": [
    {
      "url": "https://gateway.snapser.com/c4n1awfs/v1/byosnap-validator",
      "description": "Snapser dev snapend gateway (c4n1awfs)"
    },
    {
      "url": "http://localhost:5555",
      "description": "Local development"
    }
  ],
  "tags": [
    { "name": "Service", "description": "Service info and health" },
    { "name": "Match", "description": "Match lifecycle and state history" },
    { "name": "Realtime", "description": "Socket.IO transport for live validation" },
    { "name": "Debug", "description": "MCP inspection/debugging interface" }
  ],
  "security": [
    { "SnapserSession": [] }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Service"],
        "summary": "Service info",
        "description": "Returns a human-readable summary of the service and its primary endpoints.",
        "operationId": "getServiceInfo",
        "security": [],
        "responses": {
          "200": {
            "description": "Service information",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceInfo" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Service"],
        "summary": "Health check",
        "description": "Liveness/readiness probe. Always returns 200 with a timestamp when the process is up. Used as the BYOSnap readiness probe path.",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "tags": ["Service"],
        "summary": "Runtime status",
        "description": "Reports server name, version, process uptime, and current Socket.IO connection count.",
        "operationId": "getStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Runtime status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          }
        }
      }
    },
    "/api/match/init": {
      "post": {
        "tags": ["Match"],
        "summary": "Initialize a match",
        "description": "Registers a new match with its starting synchronized state and returns a short-lived connection token used to open the Socket.IO connection. Unless DEV_MODE is enabled, the request `signature` is verified against the shared secret.",
        "operationId": "initMatch",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ValidatorInitRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Match initialized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidatorInitResponse" }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Invalid signature",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/match/init-from-history": {
      "post": {
        "tags": ["Match"],
        "summary": "Initialize a match from a saved state history",
        "description": "Creates a replay match from a previously saved state history. Provide either `history_file_id` (looked up in the history store or fixtures) or inline `history_data`. Optionally start from a specific `start_from_index`.",
        "operationId": "initMatchFromHistory",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ValidatorInitFromHistoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Match initialized from history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidatorInitResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error (missing player_id, no history source, empty/invalid history, or no state at start index)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "History not found in store or filesystem",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/match/save-history": {
      "post": {
        "tags": ["Match"],
        "summary": "Save a state history",
        "description": "Persists an array of state snapshots to the history store and returns a generated id that can later be replayed via /api/match/init-from-history.",
        "operationId": "saveHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SaveHistoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "History saved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SaveHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid or empty states array",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/match/load-history/{id}": {
      "get": {
        "tags": ["Match"],
        "summary": "Load a saved state history",
        "description": "Returns the stored state snapshots for a previously saved history id.",
        "operationId": "loadHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "History id returned by /api/match/save-history",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "History found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoadHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "History id is required",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "History not found or expired",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/socket.io/": {
      "get": {
        "tags": ["Realtime"],
        "summary": "Socket.IO transport (handshake / poll / WebSocket upgrade)",
        "description": "Engine.IO/Socket.IO transport endpoint. Clients first GET to obtain a session id, then upgrade to WebSocket. The handshake `auth` payload must include `connection_id` (from /api/match/init) and `player_id`. After connection the server emits `ready`; clients emit `validate_action` ({ index, action, state_hash }) and receive a signed match/mismatch response. This endpoint is a real-time transport and is only partially describable in OpenAPI.",
        "operationId": "socketIoTransportGet",
        "security": [],
        "parameters": [
          { "name": "EIO", "in": "query", "required": false, "description": "Engine.IO protocol version", "schema": { "type": "string" } },
          { "name": "transport", "in": "query", "required": false, "description": "Transport type (polling or websocket)", "schema": { "type": "string", "enum": ["polling", "websocket"] } },
          { "name": "sid", "in": "query", "required": false, "description": "Engine.IO session id (after handshake)", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Engine.IO transport response (handshake or polling payload)" },
          "101": { "description": "Switching Protocols (WebSocket upgrade)" }
        }
      },
      "post": {
        "tags": ["Realtime"],
        "summary": "Socket.IO transport (polling write)",
        "description": "Engine.IO polling-transport write channel. Used by the long-polling fallback to send client packets.",
        "operationId": "socketIoTransportPost",
        "security": [],
        "parameters": [
          { "name": "EIO", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "transport", "in": "query", "required": false, "schema": { "type": "string", "enum": ["polling", "websocket"] } },
          { "name": "sid", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": false,
          "content": { "text/plain": { "schema": { "type": "string" } } }
        },
        "responses": {
          "200": { "description": "Acknowledged" }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": ["Debug"],
        "summary": "MCP JSON-RPC endpoint",
        "description": "Model Context Protocol (StreamableHTTP) endpoint for inspecting and debugging match state. Exposes tools: list_matches, get_match_state, get_state_history, simulate_action, clear_match. Requires `Accept: application/json, text/event-stream`. NOT public — keep behind authentication, as it can mutate match state.",
        "operationId": "mcpJsonRpc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JsonRpcRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response (delivered as an SSE event stream)",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SnapserSession": {
        "type": "apiKey",
        "in": "header",
        "name": "Token",
        "description": "Snapser user session token enforced by the gateway auth snap. Operations with `security: []` are public and require no token."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error envelope returned by HTTP endpoints.",
        "properties": {
          "error": { "type": "string", "description": "Machine-readable error code", "example": "VALIDATION_ERROR" },
          "message": { "type": "string", "description": "Human-readable message" }
        },
        "required": ["error", "message"]
      },
      "ServiceInfo": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Moveborne Validator Service" },
          "endpoints": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "example": {
              "health": "/health",
              "status": "/api/status",
              "matchInit": "/api/match/init",
              "socketio": "/socket.io/"
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" },
          "timestamp": { "type": "integer", "format": "int64", "description": "Epoch milliseconds" }
        },
        "required": ["status", "timestamp"]
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "server": { "type": "string", "example": "validator" },
          "version": { "type": "string", "example": "0.1.0" },
          "uptime": { "type": "number", "format": "double", "description": "Process uptime in seconds" },
          "connections": { "type": "integer", "description": "Active Socket.IO client count" }
        },
        "required": ["server", "version", "uptime", "connections"]
      },
      "Tile": {
        "type": "object",
        "description": "A single board cell. Shape is defined by the game logic package; extra fields are allowed.",
        "additionalProperties": true,
        "properties": {
          "isEmpty": { "type": "boolean" },
          "value": { "type": "integer" }
        }
      },
      "Board": {
        "type": "object",
        "description": "Game board. Extra fields from the game logic package are allowed.",
        "additionalProperties": true,
        "properties": {
          "tiles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Tile" }
          }
        }
      },
      "SynchronizedGameState": {
        "type": "object",
        "description": "Deterministic, hashable game state shared between client and validator. Defined by @spyre-io/moveborne-logic; only the fields the validator reads are described here and additional fields are allowed.",
        "additionalProperties": true,
        "properties": {
          "moveIndex": { "type": "integer", "description": "Monotonic action index" },
          "score": { "type": "integer" },
          "gameStatus": { "type": "string", "description": "e.g. IN_PROGRESS, GAME_OVER", "example": "IN_PROGRESS" },
          "board": { "$ref": "#/components/schemas/Board" },
          "rngIndices": {
            "type": "object",
            "description": "Per-stream RNG consumption indices.",
            "additionalProperties": true
          },
          "randomSeeds": {
            "description": "Seeds for the deterministic RNG streams.",
            "additionalProperties": true
          }
        },
        "required": ["moveIndex", "board", "gameStatus", "rngIndices"]
      },
      "StateHistorySnapshot": {
        "type": "object",
        "properties": {
          "moveIndex": { "type": "integer" },
          "timestamp": { "type": "integer", "format": "int64", "description": "Epoch milliseconds" },
          "state": { "$ref": "#/components/schemas/SynchronizedGameState" }
        },
        "required": ["moveIndex", "state"]
      },
      "ValidatorInitRequest": {
        "type": "object",
        "properties": {
          "match_id": { "type": "string" },
          "starting_state": { "$ref": "#/components/schemas/SynchronizedGameState" },
          "player_id": { "type": "string" },
          "signature": { "type": "string", "description": "HMAC signature over the request, verified unless DEV_MODE is enabled" }
        },
        "required": ["match_id", "starting_state", "player_id", "signature"]
      },
      "ValidatorInitResponse": {
        "type": "object",
        "properties": {
          "connection_id": { "type": "string", "description": "Token used in the Socket.IO handshake auth" },
          "expires_at": { "type": "integer", "format": "int64", "description": "Token expiry, epoch milliseconds" }
        },
        "required": ["connection_id", "expires_at"]
      },
      "ValidatorInitFromHistoryRequest": {
        "type": "object",
        "description": "Provide exactly one of history_file_id or history_data.",
        "properties": {
          "history_file_id": { "type": "string", "description": "Id of a stored/fixture history" },
          "history_data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/StateHistorySnapshot" }
          },
          "start_from_index": { "type": "integer", "description": "moveIndex to start from; defaults to the last state" },
          "player_id": { "type": "string" }
        },
        "required": ["player_id"]
      },
      "SaveHistoryRequest": {
        "type": "object",
        "properties": {
          "states": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#/components/schemas/StateHistorySnapshot" }
          }
        },
        "required": ["states"]
      },
      "SaveHistoryResponse": {
        "type": "object",
        "properties": {
          "history_id": { "type": "string" },
          "state_count": { "type": "integer" }
        },
        "required": ["history_id", "state_count"]
      },
      "LoadHistoryResponse": {
        "type": "object",
        "properties": {
          "history_id": { "type": "string" },
          "state_count": { "type": "integer" },
          "states": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/StateHistorySnapshot" }
          }
        },
        "required": ["history_id", "state_count", "states"]
      },
      "JsonRpcRequest": {
        "type": "object",
        "description": "JSON-RPC 2.0 request envelope used by the MCP endpoint.",
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [ { "type": "string" }, { "type": "integer" } ] },
          "method": { "type": "string", "example": "tools/list" },
          "params": { "type": "object", "additionalProperties": true }
        },
        "required": ["jsonrpc", "method"]
      }
    }
  }
}
